.font_15 {
  font-family: "Verdana";
  letter-spacing: 0.8px;
  font-style: normal;
  font-size: 15px;
}
.font_18 {
  font-family: "Verdana";
  letter-spacing: 0.9px;
  font-style: normal;
  font-size: 18px;
}
.font_16 {
  font-family: "Verdana";
  letter-spacing: 0.8px;
  font-style: normal;
  font-size: 16px;
}
.font_14 {
  font-family: "Verdana";
  letter-spacing: 0.8px;
  font-style: normal;
  font-size: 14px;
}
.font_10 {
  font-family: "Verdana";
  letter-spacing: 0.5px;
  font-style: normal;
  font-size: 10px;
}

.font_12 {
  font-family: "Verdana";
  letter-spacing: 0.8px;
  font-style: normal;
  font-size: 12px;
}
