@import "../../styles/responsive.scss";
.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.box {
  display: flex;
  flex-direction: column;
  & .box__title {
    cursor: pointer;
  }
  & .box__title-1 {
    font-family: "Verdana";

    color: #fff;
    font-size: 20px;
    @include mobile {
      font-size: 16px;
    }
  }
  & .box__title-2 {
    font-family: "Verdana";
    font-size: 70px;
    color: #ffd501;
    font-weight: 600;
    line-height: 65px;
    @include mobile {
      font-size: 40px;
      line-height: 35px;
    }
  }
  & .box__author {
    display: flex;
    align-items: center;
    gap: 10px;

    font-family: "Verdana";
    color: #fff;
    align-self: end;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    @include mobile {
      font-size: 16px;
      margin-top: 15px;
    }
    & .line {
      width: 50px;
      height: 1px;
      background: #fff;
    }
  }
}
.light__theme {
  background: var(--color-secondary);
  .description {
    display: flex;
    margin-left: auto;

    p {
      margin-left: 5px;
      color: var(--color-title-primary);
    }
  }
  .icon {
    position: absolute;
    left: -8px;
  }
  .title {
    color: #01a7ff;
  }
  .form {
    display: flex;

    justify-content: center;
    & input,
    select {
      border: 1.5px solid rgba(37, 150, 190, 0.2);
      outline: none;
      color: var(--color-title-primary);
      background-color: transparent;
      padding: 4px 10px;
      width: 28%;
      border-radius: 3px;
    }

    & button {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      border: none;
      outline: none;
      background-color: #e7ecf9;
      padding: 10px 20px;
      border-radius: 3px;
      font-size: 16px;
      gap: 8px;
      cursor: pointer;
      color: var(--color-title-primary);
      &:hover {
        background: var(--light-header-bg-color);
        color: var(--color-secondary);
      }
      &:disabled {
        cursor: not-allowed;
        background: #e7ecf9;
      }
    }
  }
}
.dark__theme {
  @extend .light__theme;
  // background: var(--dark-header-bg-color);
  .container {
    background: var(--dark-header-bg-color);
  }
  .description p {
    // color: var(--color-secondary);
  }
  .form {
    & input,
    select {
      // background: var(--color-secondary);
    }
  }
}
